@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

* {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    padding: 0;
}

.navbar-brand img {
    height: 80px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000000;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #000000;
    text-decoration: underline;
}

.navbar-dark .navbar-nav .active .nav-link {
    border-bottom: 2px solid #b70d31;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
