.leaderboard-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid var(--gray);
}

@media (min-width: 992px) {
    .leaderboard-container {
        margin-top: 1.5rem;
    }
}

.leaderboard-container-list {
    display: flex;
    flex-direction: column;
}