.leaderboard-container {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
    border: 2px solid var(--gray);
}

@media (min-width: 992px) {
    .leaderboard-container {
        margin-top: 1.5rem;
        padding: 1rem 0;
    }
}

.leaderboard-list {
    display: flex;
    flex-direction: column;
}

.leaderboard-list .list-label {
    margin: .4rem 0 .2rem 0;
    color: var(--grey);
}

.leaderboard-list .list-rank,
.leaderboard-list .list-rank-Highlighted,
.leaderboard-list .rank-user  {
    display: flex;
    width: 100%;
}

@media (min-width: 992px) {
    .leaderboard-list .rank-user  {
        width: 85%;
    }
}

.leaderboard-list .list-rank,
.leaderboard-list .list-rank-Highlighted
{
    padding: 0 .5rem;
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
    .leaderboard-list .list-rank,
    .leaderboard-list .list-rank-Highlighted
    {
        padding: 0 2rem;
    }
}

.leaderboard-list .list-rank-Highlighted{
    background:  var(--light-gray);
    padding: .5rem;
}

@media (min-width: 992px) {
    .leaderboard-list .list-rank-Highlighted{
        background:  var(--light-gray);
        padding: .5rem 2rem;
    }
}


.leaderboard-list .rank-user,
.leaderboard-list .rank-placement  {
    margin: auto;
}

.leaderboard-list .rank-user .user-image {
    width: 45px;
    margin: 0 .5rem;
}

@media (min-width: 992px) {
    .leaderboard-list .rank-user .user-image {
        width: 65px;
        margin: 0 1rem 0 2rem;
    }
}

.leaderboard-list .rank-user .user-name {
    width: 75%;
    margin: auto 0;
}

.leaderboard-list .rank-points  {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--grey);
}

@media (min-width: 992px) {
    .leaderboard-list .rank-points  {
        width: 15%;
        flex-direction: row;
        justify-content: space-between;
        margin: auto 0;
    }

    .leaderboard-list .rank-points .points-label {
        margin: auto 0;
    }
}

.leaderboard-list .rank-points .points-total {
    color: var(--red);
    font-weight: bold;
}

@media (min-width: 992px) {
    .leaderboard-list .rank-points .points-total {
        font-size: 2rem;
    }
}
